@model shangrila.Models.AdminViewModel
@{
    ViewBag.Title = "Business Info";
    Layout="_LayoutAdmin";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/admin-bg-1.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <div class="desc">
                                    <span class="icon"><i class="icon-user-plus2"></i></span>
                                    <h1>Admin Page</h1>
                                    <p><span><a href="/Admin">Admin</a></span> /<span>Announcements</span></p>
                                    <div class="desc2">You are at announcements page.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>


<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @if(!string.IsNullOrEmpty(ViewBag.Msg)){
                    <div class="alert alert-success" role="alert">@ViewBag.Msg</div>
                }
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Announcements
                    </div>
                     <form asp-controller="Admin" asp-action="Announcements" method="post">                        
                         <div class="form-group panel-body">
                             <label>Text:</label>
                             <input type="text" class="form-control" asp-for="Announcement.Name" required>
                             <label>Valid From:</label>
                             <input type="date" class="form-control" asp-for="Announcement.ValidFrom" required>
                             <label>Valid To:</label>
                             <input type="date" class="form-control" asp-for="Announcement.ValidTo" required>
                            <br/>
                             <button type="submit" class="btn btn-info btn-outline">Save</button>
                         </div>
                         
                     </form>
                    <form asp-controller="Admin" asp-action="Announcements" method="post">
                        <div class="form-group panel-body">
                            <label>Upcoming Announcements</label>
                            <ul class="list-group">
                                @foreach (var announcement in Model.Announcements)
                                {
                                    <div class="list-group-item">                                        
                                        <button type="submit" asp-route-id="@announcement.ID" class="btn btn-danger btn-xs btn-outline pull-right navbar-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                        <div class="h4">@announcement.Name</div>
                                        
                                        <p class="list-group-item-text">From: @announcement.ValidFrom.ToString("MMM dd,yyyy"), To: @announcement.ValidTo.ToString("MMM dd, yyyy")</p>
                                    </div>
                                }
                            </ul>
                            
                            <a href="/admin" class="btn btn-outline">Go to Admin Page</a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

