@model shangrila.Models.AdminViewModel
@{
    ViewBag.Title = "Open Hours";
    Layout="_LayoutAdmin";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/admin-bg-1.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <div class="desc">
                                    <span class="icon"><i class="icon-user-plus2"></i></span>
                                    <h1>Admin Page</h1>
                                    <p><span><a href="/Admin">Admin</a></span> /<span>Home</span></p>
                                    <div class="desc2">You are at admin page.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Business Info
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Business Name</h5>
                                <p class="list-group-item-text">@Model.Restaurant.Name</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Address</h5>
                                <p class="list-group-item-text">@Model.Restaurant.Address</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Phone</h5>
                                <p class="list-group-item-text">@Model.Restaurant.Phone</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Email</h5>
                                <p class="list-group-item-text">@Model.Restaurant.Email</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Facebook</h5>
                                <p class="list-group-item-text"><a href="@Model.Restaurant.Facebook" target="_blank">@Model.Restaurant.Facebook</a></p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Instagram</h5>
                                <p class="list-group-item-text"><a href="@Model.Restaurant.Instagram" target="_blank">@Model.Restaurant.Instagram</a></p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Yelp</h5>
                                <p class="list-group-item-text"><a href="@Model.Restaurant.Yelp" target="_blank">@Model.Restaurant.Yelp</a></p>
                            </div>
                        </ul>
                        <a href="/Admin/BusinessInfo" class="btn btn-info btn-outline">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Service Hours
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Sunday</h5>
                                <p class="list-group-item-text">@(Model.Sunday.IsOpen? Model.Sunday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Monday</h5>
                                <p class="list-group-item-text">@(Model.Monday.IsOpen? Model.Monday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Tuesday</h5>
                                <p class="list-group-item-text">@(Model.Tuesday.IsOpen? Model.Tuesday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Wednesday</h5>
                                <p class="list-group-item-text">@(Model.Wednesday.IsOpen? Model.Wednesday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Thursday</h5>
                                <p class="list-group-item-text">@(Model.Thursday.IsOpen? Model.Thursday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Friday</h5>
                                <p class="list-group-item-text">@(Model.Friday.IsOpen? Model.Friday.ServiceHours: "Closed")</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Saturday</h5>
                                <p class="list-group-item-text">@(Model.Saturday.IsOpen? Model.Saturday.ServiceHours: "Closed")</p>
                            </div>
                        </ul>
                        <a href="/Admin/ServiceHours" class="btn btn-info btn-outline">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Upcoming Announcements
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var announcement in Model.Announcements)
                            {
                                <div href="#" class="list-group-item">
                                    <h5 class="list-group-item-heading">@announcement.Name</h5>
                                    <p class="list-group-item-text">From: @announcement.ValidFrom.ToString("MMM dd,yyyy"), To: @announcement.ValidTo.ToString("MMM dd, yyyy")</p>
                                </div>
                            }
                        </ul>
                        <a href="/admin/announcements/" class="btn btn-info btn-outline">Edit</a>
                    </div>
                </div>
            </div>
            @if(@User.Claims.FirstOrDefault(c => c.Type == "role").Value=="Admin")
            {
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Users
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var user in Model.Users)
                                {
                                    <div href="#" class="list-group-item">
                                        <h5 class="list-group-item-heading">@user.DisplayName</h5>
                                        <p class="list-group-item-text">Username: @user.UserName, Last Logged In Time: @user.LastLoggedIn.ToString("MMM dd, yyyy hh:mm:ss tt")</p>
                                    </div>
                                }
                            </ul>
                            <a href="/admin/users/" class="btn btn-info btn-outline">Edit</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





